Language: Cpp
Standard: Cpp11
BasedOnStyle: Google
PointerAlignment: Left
AccessModifierOffset: 0
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Linux
ColumnLimit: 120
Cpp11BracedListStyle: true
SortIncludes: false
AccessModifierOffset: -4
NamespaceIndentation: All
IndentCaseLabels: true
IndentWidth: 4
UseTab: Never